RewriteEngine On
RewriteBase /api/actions/

RewriteRule ^login_p$ login_p.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^recuperar_senha$ recuperar_senha.php [L]
RewriteRule ^security$ security.php [L]