RewriteEngine On
RewriteBase /api/login/

RewriteRule ^verify/login$ login.php [L]
RewriteRule ^verify/register$ register.php [L]
RewriteRule ^verify/recuperar_senha$ recuperar_senha.php [L]
RewriteRule ^verify/security$ security.php [L]